.navbar{
    padding:1px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar a{
    text-decoration: none;
    border: 2px solid black;
    margin: 0 20px;
    padding:10px 20px;

    background-color: black;
    color: white;

    transition: .3s;

}
.navbar a:hover{
    background-color: white;
    color: black;

}
.hero{
    height: 85vh;

    background: #000 url(https://www.w3schools.com/w3images/architect.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: black;
    
}
form{                                                                                                                                 
    height: 40vh;
    width:95vw;
}
form input{
    width: 100%;

    margin: 10px;
    font-size: larger;
}
.but{
    width: 200px;
    background-color: #000;
    color: white;

    transition: .3s;
}
.but:hover{
    background-color: white;
    color: black;
}
form p{
    font-size: 20px;
}

.pht{
    margin-left: 8px;
    margin-top: 25px;
    background: url(https://www.w3schools.com/w3images/map.jpg);
    width:97vw;
    height:90vh;
}
.projects{
    border:2px solid red;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1em;

}
.projects img{
    width: 100%;
}